<div class="verticalRow">
  <div *ngIf="loading">Recupero Task...</div>
  <ul *ngIf="!loading" class="listTask">
    <li *ngFor="let todo of todoList; let i = index">
      - {{ todo.title }}
      <span (click)="CompleteTaskClick(todo)">✅</span>
      <span (click)="onDeleteTask(todo, i)">❌</span>
    </li>
  </ul>
  <div *ngIf="!loading && todoList.length === 0" class="noTask">
    Ops, non ci sono Task.
  </div>
  <div class="form">
    <form (submit)="addTodo()">
      <input
        [(ngModel)]="newTodoTitle"
        name="nomeTask"
        placeholder="Aggiungi un nuovo Task!"
      />
      <button type="submit">+</button>
    </form>
  </div>
</div>
