span:hover {
  cursor: pointer;
}

.verticalRow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listTask {
  margin-block: 0;
}

.form {
  margin-top: 10px;
}

ul {
  list-style-type: none;
}
